{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" /> -->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>Dashboard</title>
  </head>

  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
          aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#">Dashboard</a>
      </div>
    </nav>
    <!-- top navigation bar -->

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4">
              <hr class="dropdown-divider bg-light" />
            </li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                <!-- <span class="me-2"><i class="bi bi-layout-split">Layouts</i></span> -->
                Graphs
              </div>
            </li>

            <li>
              <a href="#intensity" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Intensity</span>
              </a>
            </li>
            <li>
              <a href="#likelihood" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Likelihood</span>
              </a>
            </li>
            <li>
              <a href="#impact" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Impact</span>
              </a>
            </li>
            <li>
              <a href="#sector" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Sector</span>
              </a>
            </li>
            <li>
              <a href="#topic" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Topic</span>
              </a>
            </li>
            <li>
              <a href="#source" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Source</span>
              </a>
            </li>
            <li>
              <a href="#country" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Country</span>
              </a>
            </li>
            <li>
              <a href="#startyear" class="nav-link px-3">
                <span class="me-  2"><i class="bi bi-book-fill"></i></span>
                <span>StratYear</span>
              </a>
            </li>

            <li class="my-2">
              <hr class="dropdown-divider bg-light" />
            </li>
            <a href="#table" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-table"></i></span>
              <span>Tables</span>
            </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->

    <main class="mt-5 pt-3 bg-dark">
      <div class="container-fluid">
        <div class="row" id="dashboard">
          <div class="col-md-12">
            <h4 class="text-light">Dashboard</h4>
          </div>
        </div>
        <div class="row gy-3">

          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-header">
                Total Records
              </div>
              <div class="card-body py-5">
                <h1>{{data_total}}</h1>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card bg-secondary text-white h-100">
              <div class="card-header">
                Total Country
              </div>
              <div class="card-body py-5">
                <h1 class="">{{total_country}}</h1>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card bg-info text-white h-100">
              <div class="card-header">
                Total Sector
              </div>
              <div class="card-body py-5">
                <h1>{{tatal_sector}}</h1>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body ">
                Select Range To view data
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="number" class="form-control  mt-3 mb-2" placeholder="From: ...." name="start"
                    value={{start}}>
                  <input type="number" class="form-control mb-2" placeholder="TO: ...." name="end" value={{end}}>
                  <input type="submit" value="save" class="form-control">
                </form>
              </div>

            </div>
          </div>
        </div>

        <div class="row gy-3">
          <div class="col-12" id="intensity">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Intensity
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="fstChart"></canvas>
              </div>
            </div>
          </div>

          <div class="col-12" id="likelihood">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Likelihood
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class=" chart" id="likelihoodid"></canvas>
              </div>
            </div>
          </div>


          <div class="col-12" id="impact">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Impact
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="impactid" width="400" height="200"></canvas>
              </div>
            </div>
          </div>


          <div class="col-6" id="sector">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                sector donout
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="sector_id" width="200" height="200"></canvas>
              </div>
            </div>
          </div>

          <div class="col-6" id="topic">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                topic count
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="topic_id" width="200" height="200"></canvas>
              </div>
            </div>
          </div>

          <div class="col-12" id="source">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Source
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="src_id" width="200" height="200"></canvas>
              </div>
            </div>
          </div>


          <div class="col-6" id="country">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                country bar
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="country_id" width="200" height="200"></canvas>
              </div>
            </div>
          </div>

          <div class="col-12" id="startyear">
            <!-- <div class="col-md-6 mb-3"> -->
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                start_end_year
              </div>
              <div class="card-body" style="height: 300px; width: 100%;">
                <canvas class="chart" id="st_end_yr" width="200" height="200"></canvas>
              </div>
            </div>
          </div>




        </div>
        <div class="row w-100 mt-3" id="table">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Data Table
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="example" class="table table-striped data-table w-100">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>Intensity</th>
                        <th>Sector</th>
                        <th>Region</th>
                        <th>StartYear</th>
                        <th>Country</th>
                        <th>Relevance</th>
                        <th>Pestle</th>
                        <th>Likelihood</th>
                        <th>Topic</th>
                        <th>Insight</th>
                        <th>Impact</th>
                        <th>Likelihood</th>
                        <th>Source</th>
                        <th>URL</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for obj in data %}
                      <tr>
                        <td>{{obj.id}}</td>
                        <td>{{obj.title}}</td>
                        <td>{{obj.intensity}}</td>
                        <td>{{obj.sector}}</td>
                        <td>{{obj.region}}</td>
                        <td>{{obj.start_year}}</td>
                        <td>{{obj.country}}</td>
                        <td>{{obj.relevance}}</td>
                        <td>{{obj.pestle}}</td>
                        <td>{{obj.likelihood}}</td>
                        <td>{{obj.topic}}</td>
                        <td>{{obj.insight}}</td>
                        <td>{{obj.impact}}</td>
                        <td>{{obj.likelihood}}</td>
                        <td>{{obj.source}}</td>
                        <td>{{obj.url}}</td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <script src="./js/bootstrap.bundle.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="{% static 'script.js' %}"></script> -->


    <script>
      let start = Number('{{ start }}');
      let end = Number('{{ end }}');

      console.log(typeof (start), typeof (end));
      console.log(start, end);
      // let title = {{ titles | safe }};
      let title = [{% for obj in data %} "{{obj.title}}", {% endfor %}];

      // let intensity = {{ intensity | safe }};
      let intensity = [{% for obj in data %} "{{obj.intensity}}", {% endfor %}];

      // let id_list = {{ id_list| safe }};
      let id_list = [{% for obj in data %} "{{obj.id}}", {% endfor %}];


      const ctx = document.getElementById('fstChart');


      new Chart(ctx, {
        type: 'line',
        data: {
          labels: id_list.slice(start, end),
          datasets: [{
            label: '# of Votes',
            data: intensity.slice(start, end),
            borderWidth: 1,
            fill: false,
            // borderColor: 'red',
            tension: 0.1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false
        }


      });


      const likelihoodid = document.getElementById('likelihoodid');
      let likelihood = [{% for obj in data %} "{{obj.likelihood}}", {% endfor %}];


      new Chart(likelihoodid, {
        type: 'bar',
        data: {
          labels: id_list.slice(start, end),
          datasets: [{
            label: '# of Votes',
            data: likelihood.slice(start, end),
            backgroundColor: [
              'rgba(240, 20, 90, 0.8)',

            ],
            borderColor: [
              'red'

            ],
            borderWidth: 2,

          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      });



      const impactid = document.getElementById('impactid');
      // let date = [{% for obj in data %} '{{obj.published}}', {% endfor %}];
      // let impact = [{% for obj in data %}  "{{obj.impact}}", {% endfor %}];
      let impact = { {%for obj in data %} {% if  obj.impact != '' %} '{{obj.id}}': '{{obj.impact}}', {% endif %} {% endfor %} }
      new Chart(impactid, {
        type: 'bar',
        data: {
          labels: Object.keys(impact).slice(0, 100),
          datasets: [{
            label: 'Impact',
            data: Object.values(impact).slice(0, 100),
            borderWidth: 1,
            fill: true,
            // borderColor: 'red',
            // tension: 0.1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      // --------------------------------------------------------------------------
      const sectorid = document.getElementById('sector_id');
      // let sector = [{% for obj in sector %} "{{sector.name}}", {% endfor %}];

      let obj = {{ sector_count | safe}}


      new Chart(sectorid, {
        type: 'doughnut',
        data: {
          labels: Object.keys(obj),
          datasets: [{
            label: 'total',
            data: Object.values(obj),
            hoverOffset: 4
          }],
        },
        options: {
          plugins: {
            legend: {
              display: false // This hides all text in the legend and also the labels.
            }
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });


      // ----------------------------------------------------


      topic = {{ tpk_count | safe }};
      const topic_id = document.getElementById('topic_id');
      console.log(topic);


      new Chart(topic_id, {
        type: 'bar',
        data: {
          labels: Object.keys(topic).slice(start, end / 5),
          datasets: [
            {
              label: 'Count',
              data: Object.values(topic).slice(start, end / 5),
              hoverOffset: 4
            },
          ],
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          maintainAspectRatio: false,

        }
      });

      // -----------------------------------



      // --------------------------------------------------------------------------------------------

      const src_id = document.getElementById('src_id');
      // let sector = [{% for obj in sector %} "{{sector.name}}", {% endfor %}];

      let src_cnt = {{ src_count | safe}};


      new Chart(src_id, {
        type: 'bar',
        data: {
          labels: Object.keys(src_cnt).slice(start, end / 5),
          datasets: [{
            label: 'total',
            data: Object.values(src_cnt).slice(start, end / 5),
            hoverOffset: 4
          }],
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          maintainAspectRatio: false,
        }
      });
      // ----------------------------------------------------



      const country_id = document.getElementById('country_id');
      // let sector = [{% for obj in sector %} "{{sector.name}}", {% endfor %}];

      let country_cnt = {{ country_count | safe}};


      new Chart(country_id, {
        // type: 'doughnut',
        type: 'pie',
        data: {
          labels: Object.keys(country_cnt).slice(start, end),
          datasets: [{
            label: 'total',
            data: Object.values(country_cnt).slice(start, end),
            hoverOffset: 4
          }],
        },
        options: {
          plugins: {
            legend: {
              // display: false // This hides all text in the legend and also the labels.
              position: 'right',
            }
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }

      });
      // ----------------------------------------------------




      // ----------------------------------------------------

      const st_end_yr = document.getElementById('st_end_yr');
      start_year = {};
      end_year = {};

      {%for obj in data %}

      // {% if obj.end_year > 2060 %} continue {% endif %}

      {%if obj.start_year != '' and obj.end_year != ''  and obj.end_year < '2060' %}

      start_year['{{obj.id}}'] = {{ obj.start_year }};
      end_year['{{obj.id}}'] = {{ obj.end_year }};
      {% endif %}
      {% endfor %}


      new Chart(st_end_yr, {
        type: 'line',
        data: {
          labels: Object.keys(start_year).slice(start, end),
          datasets: [
            {
              label: 'start_year',
              data: Object.values(start_year).slice(start, end),
              backgroundColor: ['rgba(255, 0, 0, 1)'],
              borderColor: 'red',

              hoverOffset: 4
            },
            {
              label: 'end_year',
              data: Object.values(end_year).slice(start, end),
              backgroundColor: ['rgba(0, 0, 255, 1)'],
              borderColor: 'blue',
              hoverOffset: 4
            }
          ],
        },
        options: {
          indexAxis: 'x',
          responsive: true,
          maintainAspectRatio: false,

        }
      });
      // // ----------------------------------------------------



      // // ----------------------------------------------------





    </script>

  </body>

</html>